<footer class="footer bg-dark text-light text-center">
    <div class="container">
        <p class="mb-0">&copy; {{ currentYear }} My Application. All Rights Reserved.</p>
        <ul class="list-inline mt-2">
            <li class="list-inline-item">
                <a href="#" class="text-light">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-light">Terms of Service</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-light">Contact Us</a>
            </li>
        </ul>
    </div>
</footer>
